@charset "EUC-KR";
        *{
    padding: 1px;
    margin: 0;
}

body{
	margin: 0 auto;
	width:500px;
	border: 1px solid black;
}
header{

	border: 1px solid black;
	width:500px;
	height:50px;
	line-height:50px;
	display:flex;
	justify-content:space-between;
	background-color: #acffac;

}
main{
	border: 1px solid red;
}

.right{
	text-align:right;
	
}

.center{
	text-align:center;
}
#rentYN{
	font-style: italic; 
}

#listTable{
	
}

#pageTitle{
	text-align:center;
	font-size:large;
	font-style: bold;
	border: 5px;
}
